* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: antiquewhite;
  padding: 20px 50px;
}
.nav-list {
  list-style-type: none;
  margin-bottom: 15px;
}
.nav-list a {
  padding: 5px;
  text-decoration: none;
  background-color: aqua;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  color: white;
  display: block;
  text-align: center;
}
@media (min-width: 640px) {
  .nav-ul {
    padding-top: 5px;
  }
  li.nav-list {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    color: blue;
  }

  .nav-list a {
    padding: 5px;
    background-color: greenyellow;
    border-radius: 5px;
    color: red;
  }
}

@media (min-width: 768px) {
  li.nav-list {
    display: block;
    font-size: 18px;
    color: blue;
    margin-bottom: 30px;
  }

  .nav-list a {
    padding: 8px;
    background-color: rgb(188, 205, 163);
    border-radius: 7px;
    color: rgb(59, 4, 4);
  }

  header {
    width: 300px;
    border-radius: 0 20px 20px 0;
  }
}
