* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(43, 42, 41);
  color: azure;
}

header .title-menu {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.nav-list {
  list-style-type: none;
}
.nav-list a {
  padding: 10px 0;
  text-decoration: none;
  border: 1px solid gray;
  cursor: pointer;
  color: white;
  display: block;
  text-align: center;
  font-size: 16px;
}

@media (min-width: 640px) {
  .nav-ul {
    padding: 20px;
  }
  .title-menu {
    display: none;
  }
  li.nav-list {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    color: blue;
  }

  .nav-list a {
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    color: wheat;
  }
}

@media (min-width: 768px) {
  li.nav-list {
    display: block;
    font-size: 18px;
    color: blue;
    margin-bottom: 30px;
  }

  .title-menu {
    display: block;
  }

  .nav-list a {
    padding: 8px;
    background-color: rgb(188, 205, 163);
    border-radius: 7px;
    color: rgb(59, 4, 4);
  }

  header {
    width: 300px;
    border-radius: 0 20px 20px 0;
  }
}
