* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 20px 0; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  text-align: center;
  border: 1px solid black;
}

.nav-list {
  list-style-type: none;
}
.nav-list a {
  padding: 10px 0;
  text-decoration: none;
  border: 1px solid gray;
  cursor: pointer;
  color: white;
  display: block;
  text-align: center;
  font-size: 16px;
}

/* .container-sigin {
  display: flex;
  justify-content: center;
} */

a.sign-in {
  text-decoration: none;
  color: white;
  padding-top: 10px;
}

/*background*/

img.background {
  width: 100%;
  position: absolute;
}

.container-pro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.pro-content {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 250px;
  gap: 30px;
}

.pro-content > h1 {
  color: white;
  font-size: 36px;
}

.contact {
  display: flex;
  gap: 50px;
}

.contact a {
  background-color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 16px;
  color: black;
}

.contact a.us {
  background-color: blue;
  color: white;
}

/*our-services*/

.our-services {
  margin-top: 150px;
}

.our-services > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-services > div > span {
  color: blue;
  padding: 5px;
  border: 1px solid burlywood;
  background-color: cadetblue;
  border-radius: 15px;
  margin-bottom: 15px;
}

.our-services > div > h2 {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 100px;
}

.container-article {
  padding: 0 200px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

article.article {
  width: 300px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  gap: 10px;
  margin-bottom: 20px;
}

article.article p {
  text-align: center;
}

/*container about*/

.container-about {
  background-color: aqua;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  padding: 70px 130px;
}

.container-about > img {
  margin-right: 100px;
}

.container-about > div > span {
  color: blue;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.container-about > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 640px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .nav-ul {
    padding: 20px;
  }

  li.nav-list {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    color: blue;
  }

  .nav-list a {
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    color: wheat;
  }

  .container-about {
    flex-wrap: nowrap;
  }

  .container-pro {
    flex-direction: row;
    align-items: center;
  }

  .pro-content {
    padding-top: 150px;
    padding-left: 250px;
  }
}

/* @media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-ul {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  li.nav-list {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: blue;
    margin-bottom: 30px;
  }

  .nav-list a {
    padding: 8px;
    background-color: rgb(188, 205, 163);
    border-radius: 7px;
    color: rgb(59, 4, 4);
  }

  header {
    width: 300px;
    border-radius: 0 20px 20px 0;
  }
} */
